@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajoutez d'autres variations si nécessaire */

@font-face {
  font-family: 'graphik';
  src: url('./assets/fonts/GraphikRegular.otf') format('truetype');
  font-weight: normal; /* Pour le normal */
  font-style: normal; /* Pour le normal */
}

@font-face {
  font-family: 'graphik';
  src: url('./assets/fonts/GraphikBold.otf') format('truetype');
  font-weight: bold; /* Pour le bold */
  font-style: normal; /* Pour le normal */
}

@font-face {
  font-family: 'graphik';
  src: url('./assets/fonts/GraphikBoldItalic.otf') format('truetype');
  font-weight: normal; /* Pour le normal */
  font-style: italic; /* Pour l'italic */
}

@font-face {
  font-family: 'graphik';
  src: url('./assets/fonts/GraphikMedium.otf') format('truetype');
  font-weight: medium; /* Pour le normal */
  font-style: normal; /* Pour le normal */
}

header{
  height: 750px;
  background: url("./assets/img/header.png");
}

nav{
  max-width: 1000px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
