@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaPolice';
  src: url('fonts/ma-police.woff') format('woff'),
       url('fonts/ma-police.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header{
  height: 930px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("./assets/landing.jpeg");
}

nav{
  max-width: 1000px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
